{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}

<br />

<h3>Modifications d'un article</h3>
 
<br />

 {{ form_start(form) }}

<label for="">Titre de l'article</label>
 {{ form_widget(form.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
 
<br />
<br />

<label for="">Contenu de l'article</label>
 {{ form_widget(form.body) }}

 {{ form_end(form) }}


{% endblock %}