{% extends 'base.html.twig' %}

{% block title %}
To connect Administator
{% endblock %}

{% block body %}

<h1>Connexion pour Administrateur :</h1>

<form action="{{ path('connect_admin')}}" method="post">
    
    <input placeholder="Username" required name="_username" type="text">
    
    <input placeholder="Mot de passe" required name="_password" type="password">
    
    <button type="submit">Se connecter</button>
    
</form>

{% endblock %}